project/boot
target/
.bsp/
logs/
.ensime
.ensime_lucene
.ensime_cache
.ensime_snapshot
ensime.sbt
TAGS
\#*#
*~
.#*
.lib
.history
.*.swp
.idea
.idea/*
.idea_modules
.sbtrc
*.sublime-project
*.sublime-workspace
tests.iml
.DS_Store
config/
.metals/
.bloop/
.ammonite/
project/metals.sbt
project/project
.vscode